.taskContainer {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s linear;

    .left {
        display: flex;
        align-items: center;
        gap: 10px;

        .details {

            .title {
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 10px;

                .priority {
                    font-size: 10px;
                    font-weight: 0;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 10px;
                    padding: 0 5px;
                }
            }

            .descrip {
                font-size: 12px;
                color: gray;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        .link{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


@media only screen and (max-width: 460px) {
    .taskContainer{
        gap: 10px;
        
        .left{
            .details{
                .title{
                    font-size: 14px;
                    .priority{
                        font-size: 8px;
                    }
                }

                .descrip{
                    font-size: 10px;
                }
            }
        }

        .right{
            gap: 8px;

            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}